/* line 1, ../../sass/login/login.scss */
.sign-up { color: white; cursor: pointer; }

/* line 6, ../../sass/login/login.scss */
.sign-up:hover { color: #b2dfdb; }

/* line 10, ../../sass/login/login.scss */
.btn-login { position: relative; background: #00796b; height: 35px; }

/* line 16, ../../sass/login/login.scss */
.btn-login::after { content: ''; width: 0px; height: 0px; display: block; position: absolute; margin: auto; left: 0; right: 0; bottom: 0; border-bottom: 7px solid white; border-right: 7px solid transparent; border-left: 7px solid transparent; border-top: 7px solid transparent; }

/* line 32, ../../sass/login/login.scss */
.inputMaterial { font-size: 18px; padding: 10px 10px 10px 5px; display: block; width: 300px; border: none; border-bottom: 1px solid #757575; }

/* line 41, ../../sass/login/login.scss */
.inputMaterial:focus { outline: none; }

/* active state */
/* line 44, ../../sass/login/login.scss */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label { top: -20px; font-size: 14px; color: #009688; }

/* active state */
/* line 51, ../../sass/login/login.scss */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after { width: 50%; }

/* active state */
/* line 56, ../../sass/login/login.scss */
.inputMaterial:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
